<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <add name="FontoBD"
    connectionString="Server=srv-datacenter;Database=rs_ui_db;User ID=fonto;Password=snakecardbeforestudied"
    providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    
    <!-- EXAMPLE: value="groupee" for app groupee, value = "-" for "no app" -->
    <add key="appName" value="-"/>
    <add key="isNewModel" value="True"/>
    <add key="isSqlDjdbMode" value="False"/>
    <add key="isDJDBModeAndSqlMode" value="False"/>
    <add key="mustExportConfigToSQL" value="False"/>
    <add key="FontoConnectionString" value="Server=srv-datacenter;Database=rs_ui_db;User ID=fonto;Password=snakecardbeforestudied"/>
    <add key="AnalyzerConnectionString" value="Server=srv-datacenter;Database=Applications2;User ID=xavierpena;Password=hateslick"/>
    <add key="ConfigBaseDirectory" value="\\srv-datacenter\web\members\html\apps\config\"/>
    <add key="exportToFontoAfterUpdate" value="True"/>    
    
    
    <!-- MySQL -->
    
    <!-- Parameters for MySQL: -->
    <add key="Database" value="rs_ui_db"/>

    <!-- TEST: 
    <add key="DBHost" value="localhost"/>
    <add key="DBPort" value="3306"/>
    <add key="DBUser" value="root"/>
    <add key="DBPassword" value="MySQL"/> -->

    <!-- PROD: -->
    <add key="DBHost" value="srv-datacenter"/>
    <add key="DBPort" value="3306"/>
    <add key="DBUser" value="fonto"/>
    <add key="DBPassword" value="snakecardbeforestudied"/>

    <add key="DBMySQLMaxPoolSize" value="30"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
  </appSettings>

  <log4net debug="false">
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logfile.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1024KB"/>
      <staticLogFileName value="true"/>
      <countDirection value="1"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <!-- levels: ERROR, DEBUG, INFO -->
      <level value="ERROR"/>
      <appender-ref ref="FileAppender"/>
      <!--appender-ref ref="ConsoleAppender" /> -->
    </root>
  </log4net>
  
</configuration>
